@import url("/styles/header.css");
@import url("/styles/three.css");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: black;
  cursor: none;
}

#cursor {
  position: fixed;
  pointer-events: none;
  width: 36px;
  height: 36px;
  border: solid 4px rgb(181, 35, 181);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-in-out, height 0.5s ease-in-out;
  z-index: 999;
  backdrop-filter: blur(1px);
}

#cursor.cursor-pointer {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgb(181, 35, 181);
}