@import url("./header.css");
@import url("./three.css");
@import url("./description.css");
@import url("./roster.css");

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: black;
  cursor: none;
}

#cursor{
  position: fixed;
  pointer-events: none;
  width: 28px;
  height: 28px;
  border: solid 4px rgba(181, 35, 181);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-in-out, height 0.5s ease-in-out, box-shadow 2s;
  z-index: 999;
  backdrop-filter: blur(1.1px);
 
  
}

#cursor.cursor-pointer {
  width: 36px;
  height: 36px;
  box-shadow: 0 0 10px rgb(181, 35, 181);
  box-shadow: 0px 0px 6px 5px rgb(202, 96, 202)
}

main.pre-start {
  display: none;
}

.pre-hero.started {
  display: none;
}