header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 16px 32px 0 32px;
	z-index: 10;
	transition: transform 0.3s;
}

h1 {
	color: white;
	margin: 0;
}

nav {
	height: 32px;
	background-color: rgb(174, 174, 174);
	opacity: 0.8;
	border-radius: 32px;
	padding: 12px 48px;
	max-width: 600px;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-nav {
	width: 64px;
	padding: 12px 24px;
	display: flex;
	align-items: center;
}

nav a {
	color: black;
	text-decoration: none;
}

.language {
	font-weight: 800;
}