header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 16px 32px 0 32px;
	z-index: 10;
	transition: transform 0.3s;
}

h1 {
	color: white;
	margin: 0;
}

nav, .menu {
    height: 32px;
    backdrop-filter: blur(4px);
    border-radius: 32px;
    padding: 12px 48px 12px 36px;
    max-width: 600px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(127, 127, 127, 0.392);
    align-items: center;
    color: rgb(218, 218, 218);
	overflow: hidden;
    transition: background-color .5s, box-shadow .3s;
}

.right-nav {
	width: auto;
	padding: 12px 24px;
}

nav a, .off-screen-menu a {
	color: rgb(218, 218, 218);
	text-decoration: none;
	transition: color .15s, font-size .15s,box-shadow .3s;
}

.off-screen-menu a {
	margin-bottom: 16px;
}

.logo {
	height: 80px;
}

.mobile-logo {
	height: 160px;
}

.language {
	font-weight: 800;
}

nav:not(.menu):hover {
	box-shadow: 1px 1px 10px rgba(181, 35, 181, 0.712);
	
}

.left-nav a{
	transition: font-size .3s, color .5s;

}
.left-nav a:hover, .right-nav a:hover, .off-screen-menu a:hover {
	color: rgb(181, 35, 181);
	font-size: 25px;
}


.right-nav:hover, .left-nav:hover {
	background-color: rgba(50, 50, 50, 0);
}

.menu-header {
	display: none;
}

.off-screen-menu {
  background-color: rgba(113, 113, 113, 0.384);
	backdrop-filter: blur(8px);
	box-shadow: 2px 0px 10px rgba(113, 113, 113, 0.384);
  height: 100vh;
  width: 60%;
  max-width: 400px;
  text-align: center;
  font-size: 24px;
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: -400px;
	min-width: 320px;
	display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s ease;
}

.off-screen-menu.active {
  left: 0;
}

.menu {
  height: 50px;
  width: 50px;
	padding: 0;
  border-radius: 50%;
  background-color: rgb(52, 52, 52);
  position: relative;
  transition: background-color 0.2s;
	cursor: pointer;
}

.menu-element:hover {
  background-color: rgb(24, 24, 24);
}

.menu span {
  height: 4px;
  width: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu span:nth-child(1) {
  top: 30%;
}

.menu span:nth-child(3) {
  top: 70%;
}

@media (max-width: 880px) {
	.left-nav {
		display: none;
	}

	.left-nav a {
		display: none;
	}

	.menu-header {
		display: block;
	}
}

.logo{
	transition: height .15s;
}

.logo:hover{
	height:100px;
}