header {
	position: fixed;
	top: 20px;
	left: 48px;
	right: 48px;
	height: 32px;
	background-color: rgb(174, 174, 174);
	opacity: 0.8;
	border-radius: 32px;
	display: flex;
	align-items: center;
	padding: 12px 20px;
	max-width: 600px;
}

h1 {
	color: white;
	margin: 0;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: black;
	text-decoration: none;
}