header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 16px 32px 0 32px;
	z-index: 10;
	transition: transform 0.3s;
}

h1 {
	color: white;
	margin: 0;
}

nav {
	height: 32px;
	opacity: 0.8;
	border-radius: 32px;
	padding: 12px 48px;
	max-width: 600px;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: rgb(52, 52, 52);
	align-items: center;
	color: rgb(218, 218, 218);
	transition: background-color .5s;
}

.right-nav {
	width: auto;
	padding: 12px 24px;
}

nav a {
	color: rgb(218, 218, 218);
	text-decoration: none;
}

.language {
	font-weight: 800;
}

.left-nav a, .right-nav a:hover {
	transition: color .15s, font-size .15s;
}

.left-nav a:hover, .right-nav a:hover {
	color: rgb(181, 35, 181);
	font-size:25px;
}


.right-nav:hover, .left-nav:hover {
	background-color: rgba(50, 50, 50, 0);
}