html {
    scroll-snap-type: y mandatory;
}

main > section {
    height: auto;
    padding: 20px 32px 64px 32px;
    background-color: rgba(40, 40, 40, 0);
    color: rgb(245, 247, 248);
    scroll-margin-top: 50px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.inner-section {
    border-radius: 40px;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(194, 194, 194, 0.392);
    align-items: center;
    backdrop-filter: blur(4px);
    color: rgb(218, 218, 218);
    transition: background-color .5s;
    text-align: justify;
}

.inner-school {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.hero {
    height: 110vh;
    height: 110dvh;
}

.hero h1, .pre-hero h1 {
    position: absolute;
    top: 120px;
    text-align: center;
    left: 50%;
    font-size: 56px;
    transform: translateX(-50%);
    width: calc(100vw - 100px);
}

.hero a, .pre-hero a {
    background-color: rgb(181, 35, 181);
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: black;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(206, 112, 206);
    cursor: pointer;
    transition: padding 0.3s, box-shadow 0.3s;
    font-weight: 600;
}

.pre-hero a, .pre-hero h1 {
    position: fixed;
}

.hero a:hover, .pre-hero a:hover {
    padding: 16px 32px;
    box-shadow: 0 0 20px rgb(206, 112, 206);
}

.maps-figure {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    border: none;
    min-height: 500px;
}

.school {
    height: auto;
}

.school .inner-section {
    display: flex;
    flex-direction: column;
}

.school img {
    width: 60%;
    max-width: 320px;
}

.about-clue .inner-section {
    display: flex;
}

.about-clue img {
    border-radius: 24px;
    margin-right: 20px;
}

@media (max-width: 920px) {
    .about-clue .inner-section {
        flex-direction: column;
    }

    .about-clue p {
        margin: 0 0 12px 0;
        order: -1;
    }

    .about-clue img {
        margin: 0;
        max-width: 100%;
    }
}

@media (max-width: 748px) {
    .inner-school {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

.card-section {
    width: 100%;
    display: flex;
    justify-content: center;
    perspective: 1000px;
    flex-wrap: wrap;
}

.card-container {
    position: relative;
    height: 320px;
    width: 200px;
    margin: 20px
}

.card, .card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.card {
    transform-style: preserve-3d;
    transition: 0.5s ease;
}

.card-tilt {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card-front, .card-back {
    backface-visibility: hidden;
    background-color: rgb(92, 91, 201);
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 80%;
    border-radius: 4px;
}

.card-info {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: rgb(181, 35, 181);
    border-radius: 8px 8px 20px 20px;
}

.card-info p {
    font-weight: 600;
    margin-left: 12px;
}