section {
    height: 600px;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    color: rgb(245, 247, 248);
}

.hero {
    height: 110vh;
    height: 110dvh;
    background-color: rgb(24, 24, 24);
}

.hero h1 {
    position: absolute;
    top: 160px;
    text-align: center;
    left: 50%;
    font-size: 56px;
    transform: translateX(-50%);
    width: calc(100vw - 100px);
}

.hero a {
    background-color: rgb(181, 35, 181);
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: black;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(206, 112, 206);
    cursor: pointer;
    transition: padding 0.3s, box-shadow 0.3s;
    font-weight: 600;
}

.hero a:hover {
    padding: 16px 32px;
    box-shadow: 0 0 20px rgb(206, 112, 206);
}