html {
    scroll-snap-type: y mandatory;
}

main > section {
    height: auto;
    padding: 20px 32px 64px 32px;
    background-color: rgba(40, 40, 40, 0);
    color: rgb(245, 247, 248);
    scroll-margin-top: 50px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.inner-section {
    border-radius: 40px;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(194, 194, 194, 0.392);
    align-items: center;
    backdrop-filter: blur(4px);
    color: rgb(218, 218, 218);
    transition: background-color .5s;
    text-align: justify;
}

.inner-school {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.hero {
    height: 110vh;
    height: 110dvh;
}

.hero h1, .pre-hero h1 {
    position: absolute;
    top: 120px;
    text-align: center;
    left: 50%;
    font-size: 56px;
    transform: translateX(-50%);
    width: calc(100vw - 100px);
}

.hero a, .pre-hero a {
    background-color: rgb(181, 35, 181);
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: black;
    padding: 12px 24px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgb(206, 112, 206);
    cursor: pointer;
    transition: padding 0.3s, box-shadow 0.3s;
    font-weight: 600;
}

.pre-hero a, .pre-hero h1 {
    position: fixed;
}

.hero a:hover, .pre-hero a:hover {
    padding: 16px 32px;
    box-shadow: 0 0 20px rgb(206, 112, 206);
}

.maps-figure {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    border: none;
    min-height: 500px;
}

.school {
    height: auto;
}

.school .inner-section {
    display: flex;
    flex-direction: column;
}

.school img {
    width: 60%;
    max-width: 320px;
}

.about-clue .inner-section {
    display: flex;
}

.slider-wrapper {
    position: relative;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    max-width: 320px;
    margin-left: 20px;
}

.slider-image-container {
    position: relative;
    flex: 1 0 100%;
}

.slider p {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 12px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    border-radius: 24px;
    max-width: 320px;
}

.slider-nav {
    display: flex;
    column-gap: 12px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.598);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.871);
    padding: 8px 16px;
}

.slider-nav a {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.735);
    transition: background-color 0.3s, width 0.3s;
}

.slider-nav a:hover {
    background-color: rgb(255, 255, 255);
}

.slider-nav a.active {
    width: 20px;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 920px) {
    .about-clue .inner-section {
        flex-direction: column;
    }

    .about-clue p {
        margin: 0 0 12px 0;
        order: -1;
    }

    .slider {
        max-width: 100%;
    }
    
    .slider img {
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 748px) {
    .inner-school {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

.card-section {
    width: 100%;
    display: flex;
    justify-content: center;
    perspective: 1000px;
    flex-wrap: wrap;
}

.card-container {
    position: relative;
    height: 320px;
    width: 200px;
    margin: 20px
}

.card, .card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.card {
    transform-style: preserve-3d;
    transition: 0.5s ease;
}

.card-tilt {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card-front, .card-back {
    backface-visibility: hidden;
    background-color: rgb(92, 91, 201);
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 80%;
    border-radius: 4px;
}

.card-info {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background-color: rgb(217, 102, 217);
    border-radius: 8px 8px 26px 26px;
}

.card-info p {
    font-weight: 600;
    margin-left: 12px;
}

.book input {
    display: none;
}

.book img:not(.cover-image) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
}

.book {
    display: flex;
    justify-content: center;
}

.cover, .flip-book {
    width: 250px;
    height: 400px;
}

.flip-book {
    position: relative;
    perspective: 1500px;
    border-radius: 0 20px 20px 0;
    margin-left: 250px;
}

.flip, .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.flip {
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.80,0.38,0.44,0.82);
    color: black;
    border-radius: 20px 0 0 20px;
}

.front {
    z-index: 99;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;
    background-color: rgb(243, 237, 228);
    background-image: url('../images/paper.avif');
    color: rgb(0, 0, 0);
    outline: 6px solid rgb(50, 48, 125);
}

.front p {
    text-indent: 28px;
    margin-top: 0;
}

.back-cover {
    background-image: none;
    background-color: rgb(50, 48, 125);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.back {
    background-color: rgb(50, 48, 125);
    box-sizing: border-box;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    outline: 6px solid rgb(50, 48, 125);
}

.back h2 {
    color: white;
    margin-top: -20px;
    font-size: 32px;
}

.end-title {
    color: white;
    font-size: 48px;
    font-family: 'Great Vibes', cursive;
    position: absolute;
    top: 80px;
    
}

.journal-team {
    position: absolute;
    bottom: 48px;
    color: red;
    border: solid 2px red;
    border-radius: 4px;
    padding: 8px 16px;
}

.journal-selector {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 6px 12px;
    backdrop-filter: blur(4px);
    background-color: rgba(127, 127, 127, 0.392);
    border-radius: 20px;
    margin-bottom: 32px;
}

.journal-selector .selected {
    background-color: rgb(0, 0, 0);
	box-shadow: 0 0 4px rgba(181, 35, 181, 0.712);
}

.journal-link {
  text-decoration: none;
  color: white;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 16px;
  border: none;
}

.journal-link:hover {
  cursor: pointer;
}

img.cover-image {
    width: 80%;
}

.next-button, .back-button {
    position: absolute;
    bottom: 12px;
    color: rgb(73, 73, 73);
    cursor: pointer;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.608);
    padding: 4px 8px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.next-button:hover, .back-button:hover {
    background-color: rgba(116, 116, 116, 0.788);
    color: white;
}

.next-button {
    right: 16px;
}

.back-button {
    left: 16px;
}

.card-list {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    overflow-x: scroll;
    height: 400px;
}

.answer-section h2 {
    margin: 40px 0 20px 0;
}

.answer-section {
    position: relative;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.selector-card {
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 200px;
    min-width: 200px;
    border-radius: 35px;
    background: rgb(34, 34, 34);
    box-shadow: -1px -1px 6px rgb(187, 144, 187);
    transition: 0.2s ease-out;
    overflow: hidden;
}

.selected-card {
    box-shadow: 0 0 20px rgb(181, 35, 181);
}

.selector-card img {
    object-fit: cover;
    width: 80%;
    border-radius: 4px;
}

.selector-card .rooms {
    height: 100px;
}

.selector-card .weapons {
    width: 60%;
}

.selector-card:hover {
    transform: translateY(-20px) rotateZ(-10deg);
    box-shadow: 0 0 20px rgb(181, 35, 181);
}

.selector-card:hover ~ .selector-card {
    transform: translateX(48px);
}

.selector-card:not(:first-child) {
    margin-left:-100px;
}

.submit-button {
    background-color: rgb(186, 186, 186);
    padding: 12px 28px;
    border-radius: 16px;
    border: none;
    margin: 12px 0;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: -40px;
    left: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.can-submit {
    background-color: rgb(217, 102, 217);
}

.can-submit:hover {
    background-color: rgb(181, 35, 181);
    color: white
}